/*-----Clases generales---------*/

body{
    background-color: #131313;
    height: 100%;

}
.seccionContenido {
    height: 100vh;
    padding-top: 8vh;
    margin-top: 0;
}

.fixed {
    position: fixed;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-5 {
    margin-top: 5%;
}


.pdt-5{
    padding-top: 5vh;
}

.pdt-20{
    padding: 20vh 0;
}
.pdt-40{
    padding: 40vh 0;
}

/*-----Clases generales---------*/


/*----Inicio Paleta de colores----*/


/*Grises*/
.cGrisBlanco {
    background-color: #DADBDB;
}

.cGrisPalido {
    background-color: #777777;
}

.cGrisOscuro {
    Background-color: #131313;
}

.white{
    background-color: white;
}
/*Grises*/


/*Azules*/
.cAzulMarino{
    background-color: #000C2F;
}
.cAzulMarinoLighter{
    background-color: #001647;
}

.cAzulFondo{
    background-color: #202C44;
}

/*Azules*/

/*----Fin Paleta de colores----*/


/*----Inicio  NavBar Desktop--*/
.navBarDesktop{
    opacity: 0.6;
    color: #101C24;
    font-size: 3vw;
}
/*----Fin  NavBar Desktop--*/


/*----Inicio Side Bar--*/
.side-nav {
    background-color: #131313;
}

.side-nav li>a {
    color: whitesmoke;
}

.side-nav li>a:hover {
    color: #101C24;
    background-color: #fff;
}
/*----Fin  Side Bar--*/

/*----Inicio Nav Bar Mobile--*/

.navMobile{
    background-color: #777777;
    opacity: 0.6;
}
/*----Fin Nav Bar Mobile--*/



/*-------Inicio seccion home--------*/
/*-------Inicio Parallax handmade--------*/
.parallax { 
    /* La imagen a usar */
    background-image: url("../assets/img/imgParallax/imgHome.jpg");
    height: 100%;
    opacity: 0.8;
    
    /* efecto scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*-------Fin Parallax handmade--------*/



/*------Inicio typing about me----*/
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


.headline {
    height: 70%;
    color: #DADBDB;
    text-align: center;
    padding: 22% 5%;

    
    h1 {
        letter-spacing: 1.6px;
        font-weight: 30;
    }
}

.text-js {
    font-size: 6vh;
    color: #131313;
}
/*------Fin typing about me----*/

/*-------Fin seccion home--------*/


/*-----Inicio Sobremi-----*/
#about-me{
    padding: 17vh 9vh;;
    color:#DADBDB;
    background-color: #131313;
}
#about-me div p{
    padding-top: 7vh;
}

#about-me div button{
    margin-top: 5vh;
    padding: 2vh 4vh;
    background: transparent;
    color: #DADBDB;
    font-size: 3vh;
    border-color: #777777;
}

.miFoto{
    width: 50vh;
    margin-top: 5vh;
    border-radius: 20px;
    
    
}
/*-----Fin Sobremi-----*/ 

/*------Inicio skills----*/

/*-------Inicio Parallax2 handmade--------*/
.parallax2 { 
    /* La imagen a usar */
    background-image: url("../assets/img/imgParallax/fondoBlanco.jpg");
    height: 100%;
    opacity: 0.8;
    
    
    /* efecto scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 { 
    /* La imagen a usar */
    background-image: url("../assets/img/imgParallax/espiralGrisMedio.jpg");
    height: 100%;
    opacity: 0.8;
    
    /* efecto scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 { 
    /* La imagen a usar */
    background-image: url("../assets/img/imgParallax/hansOnLap.jpg");
    height: 100%;
    opacity: 0.8;
    
    /* efecto scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*-------Fin Parallax handmade--------*/
#skills {
    color: #131313;
    background-color: #777777;
}

#skills h3 {
    font-size: 4vh;
}

#skills h4 {
    font-size: 3vh;
}

#skills h5 {
    font-size: 2vh;
}
.habilidadesBlandas h3{
    color: #DADBDB; 
}
.habilidadesBlandas .row{
    margin-top: 7vh;
    padding: 7vh 0;
    color: #DADBDB;
}

.habilidadesTecnicas div {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.collection-item{
    background-color: transparent !important;
    color:#131313;
}

/*------Fin skills----*/


/*------Inicio proyectos----*/


#projects{
  padding-top: 7vh;
    background-color: #DADBDB;
     color: #DADBDB;
}
.imgProyecto {
    height: 62vh;
}
/*------Fin proyectos----*/




/*------Inicio Footer----*/
/*------Fin Footer-------*/

